<form method="post" action="{{ path('migration_form_delete', {'id': migration_form.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ migration_form.id) }}">
    <button class="btn">Delete</button>
</form>
