{% extends 'base.html.twig' %}

{% block title %}Edit MigrationForm{% endblock %}

{% block body %}
    <h1>Edit MigrationForm</h1>

    {{ include('migration_form/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('migration_form_index') }}">back to list</a>

    {{ include('migration_form/_delete_form.html.twig') }}
{% endblock %}
