{% extends 'base.html.twig' %}

{% block title %}MigrationForm index{% endblock %}

{% block body %}
    <h1>MigrationForm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>UserName</th>
                <th>DB type</th>
                <th>Login</th>
                <th>Password</th>
                <th>DB name</th>
                <th>Description</th>
                <th>Is successful</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for migration_form in migration_forms %}
            <tr>
                <td>{{ migration_form.id }}</td>
                <td>{{ migration_form.userName }}</td>
                <td>{{ migration_form.dbType }}</td>
                <td>{{ migration_form.login }}</td>
                <td>{{ migration_form.password }}</td>
                <td>{{ migration_form.dbName }}</td>
                <td>{{ migration_form.description }}</td>
                <td>{{ migration_form.isSuccessful }}</td>
                <td>{{ migration_form.date ? migration_form.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('migration_form_show', {'id': migration_form.id}) }}">show</a>
                    <a href="{{ path('migration_form_edit', {'id': migration_form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('migration_form_new') }}">Create new</a>
{% endblock %}
