{% extends 'base.html.twig' %}

{% block title %}New MigrationForm{% endblock %}

{% block body %}
    <h1>Create new Migration</h1>

    {{ include('migration_form/_form.html.twig') }}

    <a href="{{ path('migration_form_index') }}">back to list</a>
{% endblock %}
