{% extends 'base.html.twig' %}

{% block title %}MigrationForm{% endblock %}

{% block body %}
    <h1>MigrationForm</h1>

    <textarea id="text">{{ complete_output }}</textarea>
    </br>
    <a href="{{ path('migration_form_index') }}">back to list</a>

{% endblock %}
