{% extends 'base.html.twig' %}

{% block title %}MigrationForm{% endblock %}

{% block body %}
    <h1>MigrationForm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ migration_form.id }}</td>
            </tr>
            <tr>
                <th>DB type</th>
                <td>{{ migration_form.dbType }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ migration_form.userName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ migration_form.login }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ migration_form.password }}</td>
            </tr>
            <tr>
                <th>DB name</th>
                <td>{{ migration_form.dbName }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ migration_form.description }}</td>
            </tr>
            <tr>
                <th>Is Successful</th>
                <td>{{ migration_form.isSuccessful }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ migration_form.date ? migration_form.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('migration_form_index') }}">back to list</a>

    <a href="{{ path('migration_form_edit', {'id': migration_form.id}) }}">edit</a>

    {{ include('migration_form/_delete_form.html.twig') }}
{% endblock %}
